.jumbotron{
    border-radius:0px;
    background: url("../Img/neuron.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 780px;
    color: white;
    height: 250px;
}

body {
    padding-top: 55px;
}

#essay { 
    text-align: justify;
    padding-top: 65px; 
}

#references {
    padding-top: 65px;
}

#about {
    padding-top: 65px;
}